.bglight {
    background: linear-gradient(296.82deg, rgba(179, 197, 240, 0.7) 3.03%, rgba(214, 203, 228, 0.7) 69.27%, rgba(178, 164, 192, 0.7) 100%);
    transition: all 0.5s ease;
}

.bgdark {
    background: linear-gradient(296.82deg, #120024 3.03%, #052041 46.3%, #120024 100%);
    transition: all 0.5s ease;
}

.btndownload {
    background: linear-gradient(267.76deg, #EBA2E5 5.18%, #A08DF7 98.44%);
}