.swiper {
  width: 315px;
  height: 490px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide:nth-child(1n) {
  background-color: #FFF;
}

.swiper-slide:nth-child(2n) {
  background-color: #FFF;
}

.swiper-slide:nth-child(3n) {
  background-color: #FFF;
}

.swiper-slide:nth-child(4n) {
  background-color: #FFF;
}

.swiper-slide:nth-child(5n) {
  background-color: #FFF;
}

.swiper-slide:nth-child(6n) {
  background-color: #FFF;
}

.swiper-slide:nth-child(7n) {
  background-color: #FFF;
}

.swiper-slide:nth-child(8n) {
  background-color: #FFF;
}

.swiper-slide:nth-child(9n) {
  background-color: #FFF;
}
